.now {
    background-color: #be1b1b;
    border-radius: 20px;
  }
  
  .back {
    background-color: #1c9bd1;
    border-radius: 20px;
    color: white;
  }
  
  .forward {
    background-color: #313534;
    border-radius: 20px;
  }

   /* .timeinrow {      
    border-top: 1px solid rgb(160, 97, 97);
    height: 70px;
    text-align: center;
  }  */

  .itemforthehour {
    border-top: 1px solid rgb(160, 97, 97);
  }

.saveInfoButton {
    background-color: #38eedf;
    color: rgb(202, 18, 18);    
    
}

.jumbotron {

    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;  
}

.container {
    text-align: center;
}

